.container {
    width: 127.5rem;
    min-height: 60rem;

    margin: 3rem auto;
    box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.4);
    background: var(--color-primary)
}

.content {
    background: var(--color-background);
    padding: 5rem 12.5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    &-row {
        flex: 0 0 24rem;
        font-size: 1.4rem;
        font-weight: 400;
    }
}


@keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg)
    }
}

.load {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6rem 0;

    &-more {
        width: 2.5rem;
        height: 2.5rem;
        fill: var(--color-text);
        animation: rotating 1s linear infinite;
    }

    &-text {
        margin-left: 1.5rem;
        font-size: 1.8rem;
        font-weight: 400;
        color: var(--color-text);
    }
}