.header {
    height: 10rem;
    padding: 0 12.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        height: 5rem;
        margin-left: 1.5rem;
    }

    &__dropdown {
        height: 3.5rem;
        width: 5rem;
    }

    input[type="text"] {
        width: 42rem;
        height: 3rem;
        background: url(../img/search.png) no-repeat;
        background-position: 39.5rem .6rem;
        background-size: 1.5rem 1.5rem;
        border-radius: 4px;
        outline: none;
        border: var(--shadow-line);
        background-color: var(--color-background);
        padding: .5rem 1rem;
        box-sizing: border-box;
    }

    .user {
        display: flex;
        align-items: center;
        margin-right: 3rem;
        &-name {
            font-size: 16px;
            margin-left: 1.5rem;
        }
    }

    border-bottom: var(--shadow-line);
}

.film {
    display: inline-block;
    width: 256.25px;
    position: absolute;
    padding: 1rem;
    top: 0;
    left: 0;
    transition: transform .3s;
    &__details {
        background-color: var(--color-primary);
        box-shadow: var(--shadow-film);
        border-radius: 2px;
        width: 240px;
    }
    &__image {
        width: 240px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__tag,
    &__content {
        color: var(--color-text);
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 400;
    }

    &__detail {
        padding: 1.5rem 1.7rem; //padding-bottom: 2rem;
        border-bottom: var(--line);
    }

    &__location {
        display: flex;
        align-items: center;
        margin: 1.3rem 0;
        &-icon {
            width: 1.4rem;
            height: 1.4rem;
            fill: var(--color-text);
        }
    }

    &__tag {
        margin-left: .8rem;
    }

    &__review {
        width: 100%;
        height: 4.5rem;
        display: flex;
        align-items: center;
        padding: 0 1.3rem;
        .star,
        .facebook {
            height: 2rem;
            width: 2rem;
            fill: var(--color-text);
        }

        .star-voted {
            fill: var(--color-star);
        }

        .facebook {
            flex: 0 0 20%;
            margin-left: auto;
            margin-right: 2rem;
        }
    }
}